@{
    ViewData["Title"] = "Home";
    ViewBag.uncreativeText = "This is some uncreative text through ViewBag";
}

@Html.Partial("_Important")
<div>
    <h2>This is a Website made from ASP.NET MVC</h2>
</div>
<div>
    <p>@ViewBag.uncreativeText</p>
</div>
